/*navigation section*/
#navbar{
	flex-direction: column;
}
/*home section*/
#home{
	height:316px;
}
#home::before{
	height: 450px;
	padding: 9px 9px;
}
/*services section*/
#services{
	display: flex;
	flex-direction: column;

}
/*client section*/
/*contact section*/
.hprimary{
	font-size: 3.5rem;

}
#home p{
	font-size: 1.5rem;
}
#clients{
	flex-wrap: wrap;

}
#clients img{
	width: 65px;
    padding: 39px;
}
	
}